@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.underline-no-skip {
  text-decoration-skip-ink: none;
}


.arrow-rotate-left {
  transform-origin: 50% 56%;
  transition: transform 0.3s ease;
  display: inline-block;
  vertical-align: middle;
}

.group:hover .arrow-rotate-left {
  transform: rotate(-180deg) translateY(.4px);
}

.markdown-content h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  border-bottom: 2px solid #ccc;
  padding-bottom: 0.3rem;
}

.markdown-content h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.25rem;
}

.markdown-content p {
  margin-bottom: 1rem;
  line-height: 1.6;
}

.markdown-content ul {
  list-style-type: disc;
  padding-left: 1.25rem;
  margin-bottom: 1rem;
}

.markdown-content a {
  color: #2563eb; /* Tailwind blue-600 */
  text-decoration: underline;
}

.markdown-content code {
  background-color: #f3f4f6; /* Tailwind gray-100 */
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-family: monospace;
}

.markdown-content pre {
  background-color: #1e293b; /* Tailwind slate-800 */
  color: #f8fafc; /* Tailwind slate-100 */
  padding: 1rem;
  border-radius: 0.375rem;
  overflow-x: auto;
  margin-bottom: 1.5rem;
}



